# Where to put the built docker image
REPO="shoginn/adsbhub"

# Base image for each arch
BASE=alpine

# Architectures to build
ARCHITECTURES="arm arm64 amd64"

# Metadata Variables
MAINTAINER="ginnserv@gmail.com"
NAME="Docker ADS-B - adsbhub"
DESCRIPTION="Docker container for ADS-B - This is the adsbhub.org component"
URL="https://github.com/ShoGinn/adsbhub"
